# Logical Operators

In [3]:
# Logical AND operator
a = 10
b = 20
if a > 0 and b > 0:
    print("Both a and b are greater than 0")

Both a and b are greater than 0

In [5]:
# Logical OR operator
a = 10
b = -5
if a > 0 or b > 0:
    print("Either a or b is greater than 0")

Either a or b is greater than 0

In [7]:
# Logical NOT operator
a = True
if not a:
    print("a is False")
else:
    print("a is True")

a is True

# Bitwise Operators

In [10]:
# Bitwise AND
a = 12  # 1100 in binary
b = 7   # 0111 in binary
result = a & b # 0100 in binary
print(result) # Output: 4

4

In [12]:
# Bitwise OR
a = 12  # 1100 in binary
b = 7   # 0111 in binary
result = a | b  # 1111 in binary
print(result)  # Output: 15

15

In [20]:
# Bitwise XOR
a = 12  # 1100 in binary
b = 7   # 0111 in binary
result = a ^ b  # 1011 in binary
print(result)  # Output: 11

11

In [18]:
# Bitwise NOT
a = 12  # 1100 in binary
result = ~a  # -13 in decimal
print(result)  # Output: -13

-13

In [22]:
# Left Shift
a = 5  # 0101 in binary
result = a << 2  # 010100 in binary, equivalent to 20 in decimal
print(result)  # Output: 20

20

In [24]:
# Right Shift
a = 13  # 1101 in binary
result = a >> 2  # 0011 in binary, equivalent to 3 in decimal
print(result)  # Output: 3

3

# Assignment Operators

In [27]:
# Assignment operator
x = 10
print(x)  # Output: 10

10

In [29]:
# Addition assignment
x += 5  # Equivalent to x = x + 5
print(x)  # Output: 15

15

In [31]:
# Subtracting assignment
x -= 3  #  Equivalent to x = x - 3
print(x)  # Output: 12

12

In [33]:
# Multiplication assignment
x *= 2  # Equivalent to x = x * 2
print(x)  # Output: 24

24

In [35]:
# Division assignment
x /= 4  # Equivalent to x = x / 4
print(x)  # Output: 6.0

6.0

In [37]:
# Modulus assignment
x %= 3  # Equivalent to x = x % 3
print(x)  # Output: 0.0

0.0

In [39]:
# Exponentiation assignment
x **= 2  # Equivalent to x = x ** 2
print(x)  # Output: 0.0

0.0

In [41]:
# Floor division assignment
x //= 3 # Equivalent to x = x // 3
print(x)  # Output: 0

0.0

# Practice

In [48]:
# Arithmetic operators
x = 10 + 5  # Addition
print(x)  # Output: 15

y = 10 - 5  # Subtraction
print(y)  # Output: 5

z = 10 * 5  # Multiplication
print(z)  # Output: 50

w = 10 / 5  # Division
print(w)  # Output: 2.0

mod = 10 % 3  # Modulus
print(mod)  # Output: 1

exp = 10**3  # Exponentiation
print(exp)  # Output: 1000

floor_div = 10 // 3  # Floor Division
print(floor_div)  # Output: 3

15
5
50
2.0
1
1000
3

In [50]:
# Assignment operators
a = 5
a += 3  # Addition assignment
print(a)  # Output: 8

b = 5
b -= 5  # Subtraction assignment
print(b)  # Output: 2

c = 5
c *= 3  # Multiplication assignment
print(c)  # Output: 15

d = 5
d /= 3  # Division assignment
print(d)  # Output: 1.6666666666666667

e = 5
e %= 3  # Modulus assignment
print(e)  # Output: 2

f = 5
f **= 3  # Modulus assignment
print(f)  # Output: 125

g = 5
g //= 3 # Floor Division assignment
print(g) # Output: 1

8
0
15
1.6666666666666667
2
125
1

In [52]:
# Comparison operators
x = 5
y = 10
print(x == y)  # Output: False

print(x != y)  # Output: True

print(x > y)  # Output: False

print(x < y)  # Output: True

print(x >= y)  # Output: False

print(x <= y)  # Output: True

False
True
False
True
False
True

In [54]:
# Logical operators
a = True
b = False
print(a and b)  # Output: False

print(a or b)  # Output: True

print(not a)  # Output: False

False
True
False

In [56]:
# Bitwise operators
x = 10  # 1010 in binary
y = 7   # 0111 in binary

print(x & y)  # Output: 2 (0010 in binary)

print(x | y)  # Output: 15 (1111 in binary)

print(x ^ y)  # Output: 13 (1101 in binary)

print(~x)  # Output: -11 (Two's complement representation)

print(x << 2)  # Output: 40 (101000 in binary)

print(x >> 2)  # Output: 2 (0010 in binary)

2
15
13
-11
40
2